

@model GTERP.Controllers.HR.HrReport.LeaveReportController.LeaveReport
@{
    ViewBag.Title = "Leave Report Report";
}

<link href="~/Content/ProjectLibFile/css/customCssFile/customFormStyle.css" rel="stylesheet" />
<style>
    fieldset {
        border: solid 1px rgba(0,0,0,0.3);
        border-radius: 2px;
        padding: 0 10px;
    }

    .no-gutter > [class*='col-'] {
        padding-left: 2px;
        margin: 0px;
    }

    .form-check-inline {
        margin-right: 1.3em;
    }

    #fromTo {
        font-size: 16px;
        text-align: right;
        margin-left: 8px;
    }

    legend {
        font-size: 14px;
    }


    #Save, #Update, #Delete, #Reset {
        font-size: 16px;
    }

    .salaryTable tbody tr td {
        padding: 5px;
    }

    table tbody {
        cursor: pointer;
    }


    .divforfull, .backDiv {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 999999999999999;
    }


    .myMessage {
        position: fixed;
        top: 150px;
        left: 35%;
        z-index: 9999999999999999999999999999999999;
    }

    fieldset:hover {
        box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.5);
    }

    button {
        background: rgb(177,211,245);
        color: black;
        border-radius: 4px;
        width: 100%;
        font-size: 14px;
        padding: 4px 8px;
    }

    #buttonTable {
        padding: 5px;
    }

        #buttonTable tr td {
            width: 90px;
            padding: 3px;
            white-space: nowrap;
        }

    #sectionTable, #employeeTable, #EmpTypeTable, #LeaveTypeTable {
        opacity: 0.5;
    }

        #sectionTable tbody tr.selectedRow:hover,
        #employeeTable tbody tr.selectedRow:hover,
        #EmpTypeTable tbody tr.selectedRow:hover,
        #reportTable tbody tr.selectedRow:hover
        #LeaveTypeTable tbody tr.selectedRow:hover {
            background: rgb(208,232,251);
        }


    /*.btn {
        font-size: 13px;
    }*/

    .content {
        padding-top: 75px;
    }

    /*.table-responsive {
        border: none;
    }*/
</style>
@using (Html.BeginForm("Index", "LeaveReport", FormMethod.Post))
{
    <div class="card">
        <div class="form-header btn-info">
            <div class="row">
                <div class="col-md-6 col-12">
                    <i class="far fa-file-alt"></i>  Leave Report Report
                    <div id="loading" class="d-inline">
                    </div>
                </div>
                <div class="col-md-6 col-12 text-right">
                    <div class="form-check form-check-inline custom-radio">
                        <input id="PDF" name="Format" type="radio" class="custom-control-input" value="PDF" checked required>
                        <label class="custom-control-label" for="PDF">PDF</label>
                    </div>
                    <div class="form-check form-check-inline custom-radio">
                        <input id="Word" name="Format" type="radio" class="custom-control-input" value="Word" required>
                        <label class="custom-control-label" for="Word">Word</label>
                    </div>
                    <div class="form-check form-check-inline custom-radio">
                        <input id="Excel" name="Format" type="radio" class="custom-control-input" value="Excel" required>
                        <label class="custom-control-label" for="Excel">Excel</label>
                    </div>
                </div>
            </div>

        </div>

        <div>
            <div class="col-md-12 col-12 pt-2">
                <fieldset class="boxStyle">
                    <div class="row px-3">
                        <div class="col-md-6 col-12">
                            <div class="form-check form-check-inline custom-radio pl-2">
                                <input id="All" name="Criteria" type="radio" class="custom-control-input" value="All" checked required>
                                <label class="custom-control-label" for="All">All Employees</label>
                            </div>
                            <div class="form-check form-check-inline custom-radio pl-2">
                                <input id="Section" name="Criteria" type="radio" class="custom-control-input" value="Section" required>
                                <label class="custom-control-label" for="Section">Section Wise</label>
                            </div>
                            <div class="form-check form-check-inline custom-radio pl-2">
                                <input id="Employee" name="Criteria" type="radio" class="custom-control-input" value="Employee" required>
                                <label class="custom-control-label" for="Employee">Employee Wise</label>
                            </div>

                            <div class="form-check form-check-inline custom-radio pl-2">
                                <input id="EmpType" name="Criteria" type="radio" class="custom-control-input" value="EmpType" required>
                                <label class="custom-control-label" for="EmpType">EmpType Wise</label>
                            </div>
                            <div class="form-check form-check-inline custom-radio pl-2">
                                <input id="LeaveType" name="Criteria" type="radio" class="custom-control-input" value="LeaveType" required>
                                <label class="custom-control-label" for="LeaveType">Leave Type Wise</label>
                            </div>

                        </div>

                        <div class="col-md-6 col-12 px-1">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="input-group mb-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label for="FromDate">From Date</label>
                                            </span>
                                        </div>
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control" })
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="input-group mb-1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <label for="ToDate">To Date</label>
                                            </span>
                                        </div>
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-12">
                <div class="row p-3">

                    <div class="col-md-2 col-12 mb-2">
                        <fieldset class="boxStyle px-3">
                            <legend visible="true" style="width: auto;" class="legendStyle">Reports</legend>
                            <partial name="_ReportGrid" />
                        </fieldset>
                    </div>

                    <div class="col-md-2 col-12 mb-2">
                        <fieldset class="boxStyle px-3">
                            <legend visible="true" style="width: auto;" class="legendStyle">Sections</legend>
                            <partial name="_SectionGrid" />
                        </fieldset>
                    </div>

                    <div class="col-md-4 col-12 mb-2">
                        <fieldset class="boxStyle px-3">
                            <legend visible="true" style="width: auto;" class="legendStyle">Employees</legend>
                            <partial name="_EmployeeGrid" />
                        </fieldset>
                    </div>
                    <div class="col-md-2 col-12 mb-2">
                        <fieldset class="boxStyle px-3">
                            <legend visible="true" style="width: auto;" class="legendStyle">EmpTypes</legend>
                            <partial name="_EmpTypeGrid" />
                        </fieldset>
                    </div>

                    <div class="col-md-2 col-12 mb-2">
                        <fieldset class="boxStyle px-3">
                            <legend visible="true" style="width: auto;" class="legendStyle">LeaveTpes</legend>
                            <partial name="_LeaveTypeGrid" />
                        </fieldset>
                    </div>
                </div>
            </div>

            @Html.HiddenFor(m => m.ReportName)
            @Html.HiddenFor(m => m.SectId)
            @Html.HiddenFor((m => m.EmpId))
            @Html.HiddenFor(m => m.EmpTypeId)
            @Html.HiddenFor(m => m.LTypeId)

            <div id="buttonDiv">
                <div id="buttonTable">
                    <button type="submit" class="btn rounded-0 rounded-0 btn-info" formtarget="_blank">
                        <i class="glyphicon glyphicon-download-alt"></i>
                        Report
                    </button>
                </div>
            </div>
        </div>

    </div>
}

@*<script src="~/Content/js/jquery.ui.core.min.js"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.js"></script>*@
@*<script src="~/Content/js/malihu-script.js"></script>*@
@section Scripts{
    <script>

        $(document).ready(function () {

            $("#FromDate, #ToDate").datepicker({
                changeMonth: true,
                changeYear: true,
                autoclose: true,
                format: "dd-M-yyyy"
            }).datepicker("setDate", new Date());

            //$("button[type='submit']").click(function () {
            //    $("#ReportName").val($(this).attr("id"));
            //    //alert($("#ReportName").val());
            //    //show();
            //    // return false;
            //});


            // For initial value of report name
            $("#ReportName").val($.trim($("#reportTable tbody tr:eq(0)").children("td:eq(1)").text()));

            $("#sectionTable tbody tr:eq(0), #employeeTable tbody tr:eq(0),  #EmpTypeTable tbody tr:eq(0), #LeaveTypeTable tbody tr:eq(0),#reportTable tbody tr:eq(0)").addClass("selectedRow");

            $("#loading").css("display", "none");

            //function show() {
            //    var tobeShowed = "Button : " +
            //        $("#ReportName").val() +
            //        "\n" +
            //        "Section : " +
            //        $("#SectionId").val() +
            //        "\n" +
            //        "Employee : " +
            //        $("#EmpId").val() +
            //        "\n" +
            //        "LeaveType : " +
            //        $("#LTypeId").val() +
            //        "\n" +
            //        "EmpType : " +
            //        $("#EmpTypeId").val();
            //    alert(tobeShowed);
            //}

            $("#SectionId").val("0");
            $("#EmpId").val("0");
            $("#LTypeId").val("0");
            $("#EmpTypeId").val("0");

            var criteria = "";
            //alert("enter");
            //$('input').on('ifChanged', function (event) { $(event.target).trigger('change'); });
            $(document).on('ifChanged', '#Criteria', function () {

            });

            $(document).on("click", "#sectionTable tbody tr", function () {
                if (criteria != "Section") {
                    return;
                }
                $("#sectionTable tbody tr").removeClass("selectedRow");
                $(this).addClass("selectedRow");
                $("#SectionId").val($.trim($(this).children("td:eq(0)").html()));
            });

            $(document).on("click", "#employeeTable tbody tr", function () {
                if (criteria != "Employee") {
                    return;
                }
                $("#employeeTable tbody tr").removeClass("selectedRow");
                $(this).addClass("selectedRow");
                $("#EmpId").val($.trim($(this).children("td:eq(0)").html()));
            });
            $(document).on("click", "#LeaveTypeTable tbody tr", function () {
                if (criteria != "LeaveType") {
                    return;
                }
                $("#LeaveTypeTable tbody tr").removeClass("selectedRow");
                $(this).addClass("selectedRow");
                $("#LTypeId").val($.trim($(this).children("td:eq(0)").html()));
            });

            $(document).on("click", "#reportTable tbody tr", function () {

                $("#reportTable tbody tr").removeClass("selectedRow");
                $(this).addClass("selectedRow");
                $("#ReportName").val($.trim($(this).children("td:eq(1)").text()));
            });

            $(document).on("click", "#EmpTypeTable tbody tr", function () {
                //alert('f');
                if (criteria != "EmpType") {
                    return;
                }
                //alert('s');
                $("#EmpTypeTable tbody tr").removeClass("selectedRow");
                $(this).addClass("selectedRow");
                //alert($.trim($(this).children("td:eq(0)").html()));
                $("#EmpTypeId").val($.trim($(this).children("td:eq(0)").html()));
            });

            function blurThem() {
                //alert('blur');
                $("#sectionTable, #employeeTable,  #EmpTypeTable, #LeaveTypeTable").css("opacity", "0.5");
                $("#sectionTable, #employeeTable,  #EmpTypeTable, #LeaveTypeTable").children("tbody").children("tr").removeClass("selectedRow");
                $("#sectionTable tbody tr:eq(0), #employeeTable tbody tr:eq(0), #EmpTypeTable tbody tr:eq(0), #LeaveTypeTable tbody tr:eq(0)").addClass("selectedRow");
                $("#SectionId").val("0");
                $("#EmpId").val("0");
                $("#LTypeId").val("0");
                $("#EmpTypeId").val("0");
            }



            $("input[type='radio']").click(function () {

                var radioValue = $("input[name='Criteria']:checked").val();

                //alert(radioValue);
                criteria = $.trim($(this).val());
                //alert(criteria);

                switch (criteria) {

                    case "All":
                        //alert('fff');

                        blurThem();
                        //alert('sss');
                        break;
                    case "Section":
                        //alert('fff');

                        blurThem();
                        $("#sectionTable").css("opacity", "1");
                        //alert('sss');

                        break;
                    case "EmpType":
                        blurThem();
                        $("#EmpTypeTable").css("opacity", "1");
                        break;
                    case "LeaveType":
                        blurThem();
                        $("#LeaveTypeTable").css("opacity", "1");
                        break;
                    case "Employee":
                        blurThem();
                        $("#employeeTable").css("opacity", "1");
                        break;
                }

            });
        });

    </script>
}
